.card-profile {
  width: 300px;
}
.title-profile {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #1890ff; // Màu chữ khi hover
    cursor: pointer;
  }
}
.button-connect {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  /* Hover effect */
  &:hover {
    color: #cacaca; /* Đổi màu chữ */
    border-color: #adaeaf;
    cursor: pointer;

    i {
      color: #cacaca; /* Màu icon khi hover */
    }
  }

  i {
    transition: color 0.3s ease; /* Animation cho icon */
    margin-right: 8px;
  }
}
.img-profile {
  cursor: pointer;
}

.button-connect {
  background-color: #007bff; /* Màu xanh mặc định */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.button-connect.sent {
  background-color: #808080 !important; /* Màu xanh lá khi đã gửi */
  color: white;
}
