.wrapper {
  --search-border-radius: 92px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color:#fff;
}
.content {
  height: 100%;
  padding:0 var( --default-layout-horizontal-spacer) ;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-title{
  padding: 5px 12px;
  font-size: 1.3rem;
color: rgba(22,24,35,0.5);;
}
/* Ví dụ trong CSS */
.logo {
  cursor: pointer;
  width: 100%;  /* Cha chiếm toàn bộ chiều rộng */
  max-width: 150px;  /* Tùy chọn: Giới hạn chiều rộng tối đa của logo */  /* Đảm bảo tỷ lệ ảnh không bị méo */
}
.logo img {
  width: 100%;  /* Con chiếm toàn bộ chiều rộng của cha */
  height: auto;
}

.action{
  gap: 10px;
  display: flex;
  align-items: center;
}
.action-btn{
  font-size: 2rem;
background-color: transparent;
padding: 4px 15px 4px 10px;
cursor: pointer;
}

//nut 3 cham
.more-btn{
  font-size: 2rem;
margin-left: 28px;
  background-color: transparent;
  padding: 4px 20px;
  cursor: pointer;
}
//user avatar
.user-avatar{
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}
//language
.img-flag-language-header{
  width: 25px;
  height: 16px;
  margin-right: 10px;
}
.language-header{
  cursor: pointer;
  width: 90px;      /* Đặt độ rộng cố định */
  overflow: hidden;  /* Ẩn phần chữ bị dư */
  white-space: nowrap; /* Giữ nguyên trên một dòng */
}








.notification-dropdown {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  min-width: 250px;
}

.notification-item {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 5px;
}

.accept-btn,
.decline-btn {
  border: none;
  padding: 6px 10px ;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.accept-btn {
  background: #007bff;
  color: white;
  margin-left: 50px;
}

.decline-btn {
  background: #838383;
  color: white;
}

.no-requests {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 10px;
}

.notification-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.notification-btn sup{
  right: 0 !important;
}



